$dark-grey: #212121;

.inventory {
	opacity: 0.95;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
	width: 50%;
	height: 80%;
	overflow: auto;
	background-color: $dark-grey;
	border: 1px solid grey;
	box-sizing: border-box;
	color: white;
	animation-name: animatetop;
	animation-duration: 0.4s;

	h1 {
		text-align: center;
		font-size: 1.5rem;
		margin: 1rem 0;
	}

	.item {
		width: 100%;
		border: 1px solid grey;
		box-sizing: border-box;
		padding: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		img {
			background-color: black;
			display: inline-block;
			border: 1px solid grey;
			height: 32px;
			width: 32px;
		}

		div {
			margin: 0 0.5rem;
			text-align: left;
			flex-grow: 2;

			p {
				font-size: 0.75rem;
			}
		}

		button {
			padding: 0.25rem;
			border: 1px solid white;
			background-color: black;
			font-family: inherit;
			color: inherit;
			box-sizing: border-box;outline: none;
		}
		
		button:active {
			background-color: $dark-grey;
		}
	}
}

@keyframes animatetop {
	from {top: 0%; opacity: 0}
	to {top: 50%; opacity: 0.95}
}