$dark-grey: #212121;

.inventory {
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
	width: 60%;
	height: 80%;
	overflow: auto;
	background-color: $dark-grey;
	border: 1px solid grey;
	box-sizing: border-box;
	color: white;

	h1 {
		text-align: center;
		font-size: 1.5rem;
		margin: 1rem 0;
	}

	.item {
		width: 100%;
		border: 1px solid grey;
		box-sizing: border-box;
		padding: 5px;

		img {
			background-color: black;
			display: inline-block;
			border: 1px solid grey;
			height: 32px;
			width: 32px;
		}


	}
}