$dark-grey: #212121;
$light-red: #ef9a9a;
$light-green: #a5d6a7;
$light-amber: #ffe082;

$header: 'Ovo', sans-serif;
$monospace: 'Inconsolata', 'Consolas', 'Menlo', monospace;


.ui {
	width: 20%;
	min-width: 200px;
	height: 100%;
	background-color: $dark-grey;
	padding: 10px;
	box-sizing: border-box;
	color: white;
	font-size: 0.75rem;
	display: flex;
	flex-direction: column;

	.info, .log {
		padding: 12px 8px;
		border: 1px solid grey;
		margin: 0.25rem 0;
	}

	.log {
		font-size: 0.75rem;
		height: 10rem;
		overflow: auto;
	}

	h5, p, .health-line {
		margin: 0.25rem 0;
	}

	h5 {
		font-size: 1.25rem;
	}

	.health-line {
		width: 100%;
		display: flex;
		align-items: center;

		.health-bar {
			display: inline-block;
			position: relative;
			margin-left: 0.25rem;
			width: 100%;
			height: 1rem;
			background-color: red;
		
			.health-span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		
			.health {
				background-color: green;
				height: 100%; 
			}
		}
	}

	button {
		padding: 0.25rem;
		border: 1px solid white;
		background-color: black;
		color: inherit;
		box-sizing: border-box;
		width: 100%;
		margin: 0.25rem 0;
		font-family: inherit;
		outline: none;
	}
	
	button:active {
		background-color: $dark-grey;
	}
}

.red {
	color: $light-red;
}

.grey {
	color: grey;
}

.green {
	color: $light-green;
}

.amber {
	color: $light-amber;
}