@import 'reset.css';

@font-face {
  font-family: 'Ovo';
  font-style: normal;
  font-weight: 400;
  src: local('Ovo'),
       url('./fonts/Ovo-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'),
       url('./fonts/Inconsolata-Regular.ttf') format('truetype')
}

$header: 'Ovo', monospace;
$monospace: 'Inconsolata', 'Consolas', 'Menlo', monospace;

$tile: 32px;

$grey: #9e9e9e;
$dark-grey: #212121;
$red: #f44336;
$light-red: #ef9a9a;
$dark-green: #2e7d32;
$light-green: #a5d6a7;
$light-amber: #ffe082;

#app {
	height: 100vh;
	width: 100vw;
	background-color: black;
	font-family: $monospace;
	color: white;
}

.root {
	display: flex;
	height: 100%;
	width: 100%;
}

.board {
	display: flex;
	position: relative;
	flex-direction: column;
	text-align: center;
	height: 100%;
	width: 80%;
	min-width: $tile * 34;
	min-height: $tile * 20;
	overflow: auto;
	justify-content: center;

	.row {
		height: $tile;
		
		.tile {
			background-image: url(./sprites/floor_1.png);
		}

		.stairs {
			background-image: url(./sprites/floor_ladder.png);
		}

		.spikes {
			background-image: url(./sprites/floor_spikes_anim_f3.png);
		}

		div {
			display: inline-block;
			height: $tile;
			width: $tile;
			z-index: 0;
			background-size: cover;
			position: relative;
			// box-sizing: border-box;
			// border: 1px solid $dark-grey;

			.unit {
				display: inline-block;
				position: absolute;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				z-index: 2;
			}

			%chest {
				display: inline-block;
				position: absolute;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				z-index: 1;
				bottom: 15%;
				left: 5%;
				height: 90%;
				width: 90%;
			}

			.chest-closed {
				@extend %chest;
				background-image: url('./sprites/chest_empty_open_anim_f0.png')
			}

			.chest-open {
				@extend %chest;
				background-image: url('./sprites/chest_empty_open_anim_f2.png')
			}

			.player-unit {
				bottom: 10%;
				left: -20%;
				height: 140%;
				width: 140%;
			}

			.small-enemy {
				bottom: 10%;
				left: -5%;
				height: 100%;
				width: 100%;
			}

			.player {
				background-image: url(./sprites/knight_f_idle_anim_f0.png);
				animation: player 0.5s infinite;
			}

			.princess {
				background-image: url(./sprites/elf_f_idle_anim_f0.png);
				animation: princess 0.5s infinite;
			}

			.orc {
				background-image: url(./sprites/orc_warrior_idle_anim_f0.png);
				animation: orc 0.5s infinite;
			}

			.goblin {
				background-image: url(./sprites/goblin_idle_anim_f0.png);
				animation: goblin 0.5s infinite;
			}

			.ogre {
				background-image: url(./sprites/ogre_idle_anim_f0.png);
				animation: ogre 0.5s infinite;
			}

			.fog {
				display: inline-block;
				width: 100%;
				height: 100%;
				background-color: black;
				opacity: 0.35;
				z-index: 5;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}	
}

.ui {
	width: 20%;
	min-width: 200px;
	height: 100%;
	background-color: $dark-grey;
	padding: 10px;
	box-sizing: border-box;
	color: white;
	display: flex;
	flex-direction: column;

	.ui-box {
		padding: 12px 8px;
		border: 1px solid $grey;
		margin: 0.25rem 0;
	}

	.log {
		overflow: auto;
		flex-grow: 2;
		font-size: 0.8rem;
	}

	h5, p, .health-line {
		margin: 0.25rem 0;
	}

	h5 {
		font-family: $header;
		font-size: 1.25rem;
	}

	.health-line {
		width: 100%;
		display: flex;
		align-items: center;

		.health-bar {
			display: inline-block;
			position: relative;
			margin-left: 0.25rem;
			width: 100%;
			height: 1.25rem;
			background-color: $red;
		
			.health-span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		
			.health {
				height: 100%;
				background-color: $dark-green;
			}
		}
	}

	button {
		width: 100%;
		margin: 0.25rem 0;
	}
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	overflow: auto;
	background-color: $dark-grey;
	border: 1px solid grey;
	box-sizing: border-box;
	color: white;
	text-align: center;
	animation: animatetop 0.4s;

	h1 {
		font-family: $header;
		font-size: 3rem;
		text-shadow: 1px 1px $grey;
		margin-bottom: 1rem;
	}
}

.startmenu {
	opacity: 1;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center; 
	animation: none;

 div {
		width: 45%;
		height: 50%;

		h1 {
			margin-bottom: 0.5rem;
		}

		span {
			height: 40px;
			width: 32px;
			z-index: 99;
			display: inline-block;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}

		.knight {
			background-image: url(./sprites/knight_f_idle_anim_f0.png);
			animation: player 0.5s infinite;
		}

		.princess {
			background-image: url(./sprites/elf_f_idle_anim_f0.png);
			animation: princess 0.5s infinite;
		}
	}
}

.gameover, .help {
	padding: 3rem;

	button {
		margin-top: 1rem;
	}
}

.help p {
	margin: 0.5rem;
	text-align: justify;
}

.startmenu, .gameover {
	
	p {
		margin: 1.5rem auto;
		font-family: $header;
		text-align: justify;
		line-height: 1.25rem;
	}

	label {
		font-family: $header;
		display: block;
	}
	
	input {
		font-family: $header;
		font-size: inherit;
		width: 50%;
		box-sizing: border-box;
		outline: none;
		display: block;
		border: none;
		margin: 1rem auto;
		padding: 0.25rem;
		text-align: center;
	}

	button {
		padding: 0.25rem 1rem;
	}
}

.inventory {
	padding: 1rem;
	opacity: 0.95;
	width: 50%;
	height: 70%;

	.item {
		width: 100%;
		border: 1px solid grey;
		box-sizing: border-box;
		padding: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.icon {
			background-color: black;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			display: inline-block;
			border: 1px solid grey;
			height: 32px;
			width: 32px;
		}

		h5 {
			font-size: 1.25rem;
		}

		.description {
			margin: 0 0.5rem;
			text-align: left;
			flex-grow: 2;
		}

		.heal-potion {
			background-image: url(./sprites/flask_big_green.png);
		}
	}
}

button {
	margin: 0.25rem 0.25rem;
	padding: 0.25rem;
	font-size: inherit;
	border: 1px solid white;
	background-color: black;
	font-family: inherit;
	color: inherit;
	box-sizing: border-box;
	outline: none;
}
	
button:active {
	background-color: $dark-grey;
}

.red {
	color: $light-red;
}

.grey {
	color: $grey;
}

.green {
	color: $light-green;
}

.amber {
	color: $light-amber;
}

@keyframes animatetop {
	from {top: 0%; opacity: 0}
	to {top: 50%; opacity: 0.95}
}

@keyframes player {
	0% {background-image: url(./sprites/knight_f_idle_anim_f0.png);}
	33% {background-image: url(./sprites/knight_f_idle_anim_f1.png);}
	67% {background-image: url(./sprites/knight_f_idle_anim_f2.png);}
	100% {background-image: url(./sprites/knight_f_idle_anim_f3.png);}
}

@keyframes princess {
	0% {background-image: url(./sprites/elf_f_idle_anim_f0.png);}
	33% {background-image: url(./sprites/elf_f_idle_anim_f1.png);}
	67% {background-image: url(./sprites/elf_f_idle_anim_f2.png);}
	100% {background-image: url(./sprites/elf_f_idle_anim_f3.png);}
}

@keyframes orc {
	0% {background-image: url(./sprites/orc_warrior_idle_anim_f0.png);}
	33% {background-image: url(./sprites/orc_warrior_idle_anim_f1.png);}
	67% {background-image: url(./sprites/orc_warrior_idle_anim_f2.png);}
	100% {background-image: url(./sprites/orc_warrior_idle_anim_f3.png);}
}

@keyframes goblin {
	0% {background-image: url(./sprites/goblin_idle_anim_f0.png);}
	33% {background-image: url(./sprites/goblin_idle_anim_f1.png);}
	67% {background-image: url(./sprites/goblin_idle_anim_f2.png);}
	100% {background-image: url(./sprites/goblin_idle_anim_f3.png);}
}

@keyframes ogre {
	0% {background-image: url(./sprites/ogre_idle_anim_f0.png);}
	33% {background-image: url(./sprites/ogre_idle_anim_f1.png);}
	67% {background-image: url(./sprites/ogre_idle_anim_f2.png);}
	100% {background-image: url(./sprites/ogre_idle_anim_f3.png);}
}